pandas
numpy
matplotlib
scipy
scikit-learn
xgboost
transformers
tensorboard
tensorboard-plugin-profile
tensorflow-datasets
tensorflow-hub
tensorflow-probability
Pillow
graphviz
opencv-python
pyglet
joblib
requests
nbdime
numexpr
urlextract
ftfy
tqdm
ipywidgets
plotly==5.13.1
rise==5.7.1
ipyleaflet==0.17.2
jupyterlab-spellchecker==0.7.3
jupyterlab-git==0.41.0
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
jupyterlab-drawio