pandas
numpy
matplotlib
scipy
scikit-learn
xgboost
transformers
tensorflow
tensorboard
tensorboard-plugin-profile
tensorflow-datasets
tensorflow-hub
tensorflow-probability
Pillow
graphviz
opencv-python
pyglet
joblib
requests
nbdime
numexpr
urlextract
ftfy
tqdm
ipywidgets